@media screen and (min-width: 320px) {
	/* smartphones, iPhone, portrait 480x320 phones */
	.AboutMe {
		width: 65%;
		max-width: 284px;
	}
}

@media screen and (min-width: 481px) {
	/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
	.AboutMe {
		max-width: 427px;
	}
}

@media screen and (min-width: 641px) {
	/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
	.AboutMe {
		max-width: 569px;
	}
}

@media screen and (min-width: 961px) {
	/* tablet, landscape iPad, lo-res laptops ands desktops */
	.AboutMe {
		max-width: 854px;
	}
}

@media screen and (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */
	.AboutMe {
		max-width: 911px;
	}
}
