@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	box-sizing: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Raleway';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(17, 17, 17);
	background-image: radial-gradient(
		rgba(150, 148, 148, 0.3) 1px,
		transparent 1%
	);
	background-size: 22px 22px;
	background-position: -10px -10px;
	color: white;
	user-select: none;
}

textarea {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

.linear-mask {
	mask-image: linear-gradient(
		270deg,
		rgb(255, 255, 255) calc(var(--x) +20%),
		transparent 30%,
		rgb(255, 255, 255) calc(var(--x) +100%)
	);

	-webkit-mask-image: linear-gradient(
		270deg,
		rgb(255, 255, 255) calc(var(--x) +20%),
		transparent 30%,
		rgb(255, 255, 255) calc(var(--x) +100%)
	);
}

.linear-overlay {
	background-image: linear-gradient(
		270deg,
		rgba(255, 255, 255, 0.7) calc(var(--x) + 20%),
		rgba(255, 255, 255, 0.7) calc(var(--x) + 25%),
		rgba(255, 255, 255, 0.1) calc(var(--x) + 60%)
	);
	mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
	-webkit-mask: linear-gradient(black, black) content-box,
		linear-gradient(black, black);
	mask-composite: exclude;
	-webkit-mask-composite: xor;
}

.linear-overlay-2 {
	background-image: linear-gradient(
		270deg,
		rgba(255, 255, 255, 0.7) calc(var(--x) + 20%),
		rgba(255, 255, 255, 0.774) calc(var(--x) + 25%),
		rgba(255, 255, 255, 0.295) calc(var(--x) + 100%)
	);
	mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
	-webkit-mask: linear-gradient(black, black) content-box,
		linear-gradient(black, black);
	mask-composite: exclude;
	-webkit-mask-composite: xor;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
