@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	box-sizing: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Raleway';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(0, 0, 0);
	background-color: gradient(
		linear,
		0% 0%,
		0% 100%,
		from(rgba(0, 0, 0, 0.5)),
		to(rgba(202, 77, 77, 0.5))
	);
	background-image: radial-gradient(
		rgba(151, 151, 151, 0.192) 1px,
		transparent 1%
	);
	background-size: 16px 16px;
	background-position: 0px 0px;
	color: white;
	user-select: none;
}

textarea {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

.linear-overlay {
	background-image: linear-gradient(
		270deg,
		rgba(255, 255, 255, 0.2) calc(var(--x) + 20%),
		rgba(255, 255, 255, 0.774) calc(var(--x) + 25%),
		rgba(255, 255, 255, 0.295) calc(var(--x) + 100%)
	);
	mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
	-webkit-mask: linear-gradient(black, black) content-box,
		linear-gradient(black, black);
	mask-composite: exclude;
	-webkit-mask-composite: xor;
}

.linear-overlay-2 {
	background-image: linear-gradient(
		270deg,
		rgba(255, 255, 255, 0.2) calc(var(--x) + 20%),
		rgba(255, 255, 255, 0.774) calc(var(--x) + 25%),
		rgba(255, 255, 255, 0.295) calc(var(--x) + 100%)
	);
	mask: linear-gradient(black, black) content-box, linear-gradient(black, black);
	-webkit-mask: linear-gradient(black, black) content-box,
		linear-gradient(black, black);
	mask-composite: exclude;
	-webkit-mask-composite: xor;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
/* Hide the SVG on small screens */
@media only screen and (max-width: 768px) {
	.python-icon {
		display: none;
	}
}

a,
a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

.parent {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 2rem;
	margin-top: 2rem;
}

@layer base {
  :root {
		--radius: 0.5rem;
	}
}
